

venv/
# Ignore compiled Python files
*.pyc
__pycache__/

app/static/

upload_python_notes/
upload_python_recordings/
upload_python_assessments/
upload_python_assignments/
        
upload_java_notes/
upload_java_recordings/
upload_java_assignments/
upload_java_assessments/
    
upload_DigitalMarketing_notes/
upload_digitalmarketing_recordings/
upload_DigitalMarketing_assignments/
upload_DigitalMarketing_assessments/
   
upload_testingtools_notes/
upload_testingtools_recordings/
upload_testingtools_assignments/
upload_testingtools_assessments/


