<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - Update Password</title>
    <link rel="icon" href="static\best-it-academy-favicon-color (1).ico" type="image/x-icon">

</head>
<body>
    <h2>Forgot Password</h2>
    <form action="/forgot_password_verify_email" method="post">
        {{ form.csrf_token }}
        <p>Please enter a new password for your account.</p>
        <input type="hidden" name="email" value="{{ email }}">
        <label for="password">New Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password"><br>
        <input type="submit" value="Update Password">
    </form>
</body>
</html>
