<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - Enter Email</title>
    <link rel="icon" href="static\best-it-academy-favicon-color (1).ico" type="image/x-icon">
</head>
<body>
    <h2>Forgot Password</h2>
    <form action="/forgot_password" method="post">
        {{ form.csrf_token }}
        {{form.email.label}}
        {{form.email()}}
        <input type="submit" value="Next">
    </form>
</body>
</html>
