<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEST IT ACADEMY</title>
    <link rel="stylesheet"  href="static\css\first.css">
    <link rel="icon" href="static\best-it-academy-favicon-color (1).ico" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-qf97I+0o3+D7fK2VFcFhJjRpKP5jWfD5zNhm1Tjo+T8TziqUDG+ThQo2rhJlF+8u" crossorigin="anonymous">
</head>
<body class="cursor-pointer font-sans italic text-gray-600"> <!--top-->
    <div class="first  py-4 fixed w-full  shadow-md bg-gray-600" id="home">
        <div class="container mx-auto flex justify-between items-center">
            <div class="logo flex items-center">
                <a href="/" class="flex items-center sm:flex-col lg:flex-row border-2 rounded-md shadow-md">
                    <img class="h-16" src="static\best-it-academy-favicon-color.png">        
                    <div class="grid grid-cols-1">
                        <div class="flex">
                            <h1 class="font-bold text-white lg:text-2xl md:text-xl  sm:text-xl">BEST</h1>
                            <h2 class="font-bold text-white lg:ml-4 md:ml-3 lg:text-2xl md:text-xl sm:ml-2 sm:text-sm"> IT ACADEMY</h2>
                        </div>
                        <div class="text-sm text-white">
                            <p>Bridging Excellence, Striving Together</p>
                        </div>
                    </div>
                    
                </a>
            </div>
            <nav class="navigation flex items-center lg:gap-8 md:gap-6 sm:gap-2 sm:text-sm lg:text-sm md:text-sm">
                <ul class="flex gap-6">
                    <li class="nav-item">
                        <a href="#about" onclick="scrollToSection(event, 'about')" class="text-white hover:text-gray-300 transition font-bold text-white ">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#COURSES" onclick="scrollToSection(event, 'COURSES')" class="text-white  hover:text-gray-300 transition font-bold text-white ">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" onclick="scrollToSection(event, 'contact')" class="text-white  hover:text-gray-300 transition font-bold text-white ">Contact</a>
                    </li>
                    <li>
                        <a  href="/pics" class="flex items-center text-white  font-bold">
                            <p>Explore Photos and Videos</p>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" stroke-width="1.5" stroke="currentColor" class="size-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="flex gap-4">
                    <form method="POST" action='/student_registration'>
                        <button type="submit" class="text-white font-semibold bg-transparent border border-white py-2 px-4 rounded-full hover:bg-white hover:text-blue-800 transition duration-300">Registration</button>
                    </form>
                    <form method="POST" action='/student_login'>
                        <button type="submit" class="text-white font-semibold bg-transparent border border-white py-2 px-4 rounded-full hover:bg-white hover:text-blue-800 transition duration-300">Login</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    
    <div class="xy bg-cover bg-no-repeat pt-28 pb-10 object-cover object-center bg-center rounded-md shadow-md" style="background-image: url('/static/img/pexels-divinetechygirl-1181233.jpg');">
    <!--  "background-image: url('https://assets-global.website-files.com/6418039f61e2dee88d2282fa/64ba497a996fdf73d1951964_Frame%2034.webp');">
    --> <div class="bg-opacity-70 py-32">
            <div class="container  text-white">
                <h1 class="text-5xl font-bold text-center mb-8">Welcome to BEST IT ACADEMY</h1>
                <p class="text-lg font-semibold text-center mb-12">Where Innovation Meets Expertise!</p>
                <div class="flex ml-10 gap-20">
                    <a href='/student_registration' class="flex items-center p-4  bg-transparent  text-white text-xl font-semibold rounded-full shadow-lg transition duration-300 border-white border-2">
                        <p>Get Started</p>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>                              
                       
                    </a>
                </div>
            </div>
        </div>
    </div>
    <h1 class="text-4xl font-bold text-center  mb-4 mt-4 p-4 bg-zinc-200 m-10 flex items-center justify-center">
        <p>Explore Our Courses</p>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
          </svg>          
    </h1>
    <div id="COURSES" class="py-10 px-4 m-10 bg-cover object-cover bg-center bg-cover border-4 shadow-md rounded-md" style="background-image:url('https://gohyer.com/wp-content/uploads/2020/07/bg_testimonials.jpg')">
        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-8">
            <!-- Python Course -->
            <div class="course-card shadow-lg rounded-lg overflow-hidden">
                <img src="https://5.imimg.com/data5/QY/TP/MZ/SELLER-10578244/python-training-course.jpeg" alt="Python Course Image" class="h-48 object-cover object-center w-full p-2">
                <div class="p-6">
                    <h2 class="text-xl font-semibold mb-2">Python</h2>
                    <p class="text-gray-700 mb-4"><i class="fas fa-clock"></i> 6 months</p>
                    <a href="/python_info" class="block flex items-center justify-center w-full text-center py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition duration-300">
                        <p>Learn More</p>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>                          
                    </a>
                </div>
            </div>
    
            <!-- Java Course -->
            <div class="course-card shadow-lg rounded-lg overflow-hidden">
                <img src="https://st2.depositphotos.com/1004174/7566/i/450/depositphotos_75664409-stock-photo-programming-concept.jpg" alt="Java Course Image" class="h-48 object-cover object-center w-full p-2">
                <div class="p-6">
                    <h2 class="text-xl font-semibold mb-2">Java</h2>
                    <p class="text-gray-700 mb-4"><i class="fas fa-clock"></i> 6 months</p>
                    <a href="/java_info" class="block flex items-center justify-center w-full text-center py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition duration-300">
                        <p>Learn More</p>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>                          
                    </a>
                </div>
            </div>
    
            <!-- Testing Tools Course -->
            <div class="course-card shadow-lg rounded-lg overflow-hidden">
                <img src="https://img.freepik.com/premium-vector/premium-icon-growth-analysis-flat-style_9206-4849.jpg?w=740" alt="Testing Tools Image" class="h-48 object-cover w-full object-center p-2">
                <div class="p-6">
                    <h2 class="text-xl font-semibold mb-2">Testing Tools</h2>
                    <p class="text-gray-700 mb-4"><i class="fas fa-clock"></i> 4 months</p>
                    <a href="/testingtools_info" class="block flex items-center justify-center w-full text-center py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition duration-300">
                        <p>Learn More</p>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>                          
                    </a>
                </div>
            </div>
    
            <!-- Digital Marketing Course -->
            <div class="course-card shadow-lg rounded-lg overflow-hidden">
                <img src="https://img.freepik.com/free-photo/digital-marketing-with-icons-business-people_53876-94833.jpg?size=626&ext=jpg" alt="Digital marketing image" class="h-48 object-cover w-full object-center p-2">
                <div class="p-6">
                    <h2 class="text-xl font-semibold mb-2">Digital Marketing</h2>
                    <p class="text-gray-700 mb-4"><i class="fas fa-clock"></i> 6 months</p>
                    <a href="/digitalmarketing_info" class="block flex items-center justify-center w-full text-center py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition duration-300">
                        <p>Learn More</p>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>                          
                    </a>
                </div>
            </div>
        </div>
    </div>
    <h1 class="text-3xl font-bold text-center  mb-4 mt-4 p-4 bg-zinc-200 m-10 flex items-center justify-center">
        <p>ABOUT US</p>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
          </svg>          
    </h1>
    <div class="bg-gray-100 p-10 m-10" id="about">
        
        <div class="container mx-auto py-12">
            <div class="grid lg:grid-cols-2 md:grid-cols-2  sm:grid-cols-1 gap-8">

                <p class="grid items-center">
                    The primary motive of our institute is to empower students with technical proficiency, equipping them with the skills and knowledge needed for successful careers in the dynamic and ever-evolving field of information technology. We strive to provide comprehensive education, hands-on training, and industry-relevant experience to ensure that our students are well-prepared to tackle challenges and excel in the IT industry. Our goal is to foster innovation, critical thinking, and adaptability, enabling our students to thrive in an increasingly digital world.
                </p>
                
                <div class="bg-gradient-to-r  rounded-lg shadow-md p-6 grid grid-cols-1">
                    {% for person in persons %}
                    <!--bg-gradient-to-r from-red-800 to-green-700 from-purple-400 to-indigo-600 bg-gradient-to-r from-green-800 to-red-700 -->
                    <div class="grid grid-cols-2">
                        <div class="grid grid-cols-1 gap-4">
                            <div class="grid grid-cols-1 items-center justify-center text-slate-300 container_1 p-2 bg-amber-900 h-36">
                                <h3 class="text-xl font-semibold  mb-2">Meet </h3>
                                <p class="text-3xl text-green-600">mr.{{person.name}}</p> 
                                <p class="text-sm ">{{person.qualification}}</p>
                            </div>
                            <p>
                                {{person.description}}         
                            </p>
                        </div>
                        <div class="h-full overflow-hidden border-l-4 border-10 border-blue-400">
                            <img src="{{ url_for('static', filename='profiles/' + person.image_path) }}" alt="Rakesh's Photo" class="h-full">
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
    <h1 class="text-3xl font-bold mb-6 text-center bg-zinc-200 m-10">Why Choose Us?..</h1>
    <!-- Organization Offers -->
    <div class="text-black grid grid-cols-1 items-center justify-center h-full m-10 bg-cover object-cover bg-center object-center rounded-md shadow-md p-10" style="background-image:url('https://gohyer.com/wp-content/uploads/2020/08/Background@2x-scaled.jpg')">
            <div class="grid grid-cols-3  gap-y-6 gap-x-10 items-center justify-center w-full">
                <!-- Each Offer -->
                <div class="">
                    <button class="heading text-lg font-semibold  pb-2 flex items-center justify-between">
                        <span class="border-b-2">Technical Training</span>
                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>
                    <ol class="body list-decimal bg-gray-200 p-6 rounded-xl hidden">
                        <li>Courses in programming languages (e.g., Python, Java, etc.).</li>
                        <li>Software development methodologies and best practices.</li>
                        <li>Database management and administration.</li>
                    </ol>
                </div>
                <div class="">
                    <button class="heading text-lg font-semibold  pb-2 flex items-center justify-between">
                        <span class="border-b-2">Soft Skills Development</span>
                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>
                    <ol class="body list-decimal bg-gray-200 p-6 rounded-xl hidden">
                        <li>Communication and presentation skills.</li>
                        <li>Team collaboration and leadership.</li>
                    </ol>
                </div>
                <div class="">
                    <button class="heading text-lg font-semibold  pb-2 flex items-center justify-between">
                        <span class="border-b-2">IT Infrastructure Services</span>
                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>
                    <ol class="body list-decimal bg-gray-200 p-6 rounded-xl hidden">
                        <li>Training on networking concepts.</li>
                        <li>Cloud computing services (e.g., AWS, Azure).</li>
                        <li>System administration and maintenance.</li>
                    </ol>
                </div>
                <div class="">
                    <button class="heading text-lg font-semibold  pb-2 flex items-center justify-between">
                        <span class="border-b-2">Certification Programs</span>
                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>
                    <ol class="body list-decimal bg-gray-200 p-6 rounded-xl hidden">
                        <li>Offer recognized certifications in relevant technologies.</li>
                        <li>Preparation for industry-recognized certifications.</li>
                    </ol>
                </div>
                <div class="">
                    <button class="heading text-lg font-semibold  pb-2 flex items-center justify-between">
                        <span class="border-b-2">Quality Assurance & Testing</span>
                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>
                    <ol class="body list-decimal bg-gray-200 p-6 rounded-xl hidden">
                        <li>Training in software testing and quality assurance.</li>
                        <li>Test automation techniques.</li>
                    </ol>
                </div>
                <div class="">
                    <button class="heading text-lg font-semibold  pb-2 flex items-center justify-between">
                        <span class="border-b-2">Internship & Placement Assistance</span>
                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>
                    <ol class="body list-decimal bg-gray-200 p-6 rounded-xl hidden">
                        <li>Assistance in finding internships.</li>
                        <li>Placement support for job opportunities.</li>
                    </ol>
                </div>
                <div class="">
                    <button class="heading text-lg font-semibold  pb-2 flex items-center justify-between">
                        <span class="border-b-2">DevOps Practices</span>
                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>
                    <ol class="body list-decimal bg-gray-200 p-6 rounded-xl hidden justify-between">
                        <li>Training in DevOps methodologies.</li>
                        <li>Continuous integration and deployment.</li>
                    </ol>
                </div>
                <div class="">
                    <button class="heading text-lg font-semibold  pb-2 flex justify-between items-center">
                        <span class="border-b-2">Mock Interviews & Career Counseling</span>
                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>
                    <ol class="body list-decimal bg-gray-200 p-6 rounded-xl hidden">
                        <li>Conduct mock interviews to prepare students for real-world scenarios.</li>
                        <li>Career counseling sessions.</li>
                    </ol>
                </div>
                <div class="">
                    <button class="heading text-lg font-semibold flex items-center justify-between pb-2">
                        <span class="border-b-2">Digital Marketing</span>
                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>
                    <ol class="body list-decimal bg-gray-200 p-6 rounded-xl hidden justify-between">
                        <li>Courses on digital marketing strategies.</li>
                        <li>Social media marketing.</li>
                        <li>Search engine optimization (SEO).</li>
                    </ol>
                </div>
                <div class="">
                    <button class="heading text-lg font-semibold  pb-2 flex items-center">
                        <span class="border-b-2">Facility Access</span>
                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>
                    <ol class="body  list-decimal bg-gray-200 p-6 rounded-xl hidden">
                        <li>Provide access to labs with necessary equipment.</li>
                        <li>Offer a conducive learning environment with Wi-Fi access.</li>
                    </ol>
                </div>
            </div>
    </div>
    <!--bottom-->
    <div id="contact" class="bg-zinc-200 h-64 grid lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-3 md:w-full sm:w-full sm:h-full md:h-full bottom-0 w-screen lg:text-sm md:text-sm md:text-sm border-t-8 m-0 ">
        <div class="grid grid-cols-1 justify-center items-start gap-4 py-8 px-6">
            <a href="/" class="flex">
                <div class="flex lg:flex-row   sm:flex-col md:flex-row lg:text-2xl sm:text-xl md:text-xl items-center ">
                    <h1 class="font-bold mr-2 text-black">BEST </h1>
                    <h2 class="font-bold text-black">IT Academy</h2>
                </div>
            </a>
            <h2 class="text-lg">Follow us:</h2>
            <div class="flex items-center gap-4">
                <a href="https://www.facebook.com/Bestitacademy" target="_blank" class="text-blue-600 hover:text-blue-500 transition duration-300">
                    <i class="fab fa-facebook-square"></i> Facebook
                </a>
                <a href="https://www.instagram.com/bestitacademy/" class="text-blue-600 hover:text-pink-500 transition duration-300">
                    <i class="fab fa-instagram"></i> Instagram
                </a>
                <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FBestitacademy" class="text-blue-600 hover:text-blue-400 transition duration-300">
                    <i class="fab fa-twitter"></i> Twitter
                </a>
            </div>
        </div>
        <div class="flex items-center justify-center py-8 px-6">
            <p class="text-lg">We provide best Corporate level trainings which is first of its kind in Hyderabad, both classroom and online with 100% placement assistance. All our instructors are experts and highly experienced.</p>
        </div>
        <div class="flex flex-col justify-center items-start gap-4 py-8 px-6">
            <h2 class="text-lg font-semibold">Contact Us:</h2>
            <a href="https://maps.app.goo.gl/9V9FmPG2jkqQrEWX9" class=" hover:text-green-500 transition duration-300">
                <i class="fas fa-map-marker-alt"></i> 4th Floor, Mithai Wala Building, opp. Metro Pillar Number 1595, Kothapet, Hyderabad, Telangana - 500035
            </a>
            <div class="flex lg:flex-row sm:flex-col md:flex-col items-center gap-4 ">
                <p class="text-lg">
                    <i class="fas fa-phone"></i> <a href="tel:+919390379057" class="text-red-600 hover:text-green-500 transition duration-300">+91-9390379057</a>
                </p>
                <p class="text-lg">
                    <i class="fas fa-phone"></i> <a href="tel:+919908980756" class="text-red-600 hover:text-green-500 transition duration-300">+91-9908980756</a>
                </p>
            </div>
            <a href="mailto:info@banothusrikanth267@gmail.com" class="hover:text-yellow-500 transition duration-300">
                <i class="fas fa-envelope"></i> banothusrikanth267@gmail.com
            </a>
        </div>
    </div>
    
    <script>
        function scrollToSection(event, sectionId) {
            event.preventDefault(); // Prevent the default action of the click event
            document.getElementById(sectionId).scrollIntoView({ behavior: 'smooth' });
        }
        
    </script>   
    <script>
        document.querySelectorAll('.heading').forEach(header => {
            header.addEventListener('click', function() {
                const body = header.nextElementSibling;
                if (body.classList.contains('hidden')) {
                    body.classList.remove('hidden');
                } else {
                    body.classList.add('hidden');
                }
            });
        });
        
    </script>  
</body>
</html>
