<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>javainfo</title>
    <link rel="icon" href="static\best-it-academy-favicon-color (1).ico" type="image/x-icon">
    <link rel="stylesheet" href="static\css\javainfo.css">
</head>
<body>
    <div class="bg-green-600">
        <div class="flex flex-row rounded-full w-48">
            <ul class="flex flex-col text-xl text-white pl-2">
                <b class="ml-2 text-2xl">B E S T</b>
                <b class="">IT Academy</b>
            </ul>
        </div>
    </div>
    <h1 class="text-4xl txet-brown-600 font-bold text-center"> Java Full-Stack</h1>
    <div class="flex justify-end">
        <a href="/" class="text-2xl mr-4">Back</a>
    </div>
    <div class="ml-8">           
        <h1 class="text-2xl font-bold mb-4">CURRICULUM</h1>
        <ol class="list-decimal" type="1"> 
            <h1 class="text-xl font-bold">Introduction to Java</h1>
            <li>  Data types, variables, and operators</li>
            <li>  Control structures: loops and conditionals</li>
            <li> Object-oriented programming (OOP) concepts: classes, objects, inheritance, polymorphism, and encapsulation</li>
            <li> Exception handling</li>
            <li> File I/O</li>
        </ol>

        <ol class="list-decimal" type="1"> 
            <h1 class="text-xl font-bold">Web Development Basics</h1>

            <li> Introduction to web development</li>
            <li> HTTP protocol and client-server architecture</li>
            <li> HTML fundamentals and tags</li>
            <li>  Cascading Style Sheets (CSS) for styling web pages</li>
            <li>  JavaScript basics: variables, functions, DOM manipulation, and events</li>
        </ol>

        <ol class="list-decimal" type="1">
            <h1 class="text-xl font-bold">HTML, CSS, JavaScript, jQuery & Bootstrap</h1>
        
            <li>  Introduction to web development</li>
            <li>HTML fundamentals and tags</li>
            <li> Cascading Style Sheets (CSS) for styling web pages</li>
            <li> Forms handling and validation</li>
        </ol>

        <ol class="list-decimal" type="1">
            <h1 class="text-xl font-bold">Java Enterprise Edition (Java EE)</h1>
        
            <li> Introduction to Java EE</li>
            <li> Servlets: handling HTTP requests and responses</li>
            <li> JavaServer Pages (JSP): dynamic web page generation</li>
            <li>JavaServer Faces (JSF): web application framework</li>
            <li>Enterprise JavaBeans (EJB): components for business logic</li>
            <li>Java Persistence API (JPA): database access using ORM</li>
        </ol>
        <ol class="list-decimal" type="1">
            <h1 class="text-xl font-bold">Spring Framework</h1>
            <li>Introduction to Spring Framework</li>
            <li> Spring Core: dependency injection and inversion of control</li>
            <li> Spring MVC: building web applications</li>
            <li> Spring Security: authentication and authorization</li>
            <li>Spring Boot: rapid application development and deployment</li>
        </ol>
        <ol class="list-decimal" type="1">
            <h1 class="text-xl font-bold">Front-End Frameworks</h1>
            <li> Introduction to front-end frameworks (Angular/React/Node)</li>
            <li>  Building interactive user interfaces</li>
            <li>  Handling data binding, components, and routing</li>
        </ol>
        <ol class="list-decimal" type="1">
            <h1 class="text-xl font-bold">Web Services and Spring Boot with Micro Services</h1>

            <li>Representational State Transfer (REST) principles</li>
            <li> Building RESTful APIs using JAX-RS or Spring Web Services</li>
            <li> Consuming RESTful APIs</li>
        </ol>

        <ol class="list-decimal" type="1">
            <h1 class="text-xl font-bold">Databases and ORMs</h1>
            <li>Introduction to databases and SQL</li>
            <li>Relational databases ( SQL and MySQL)</li>
            <li>NoSQL Databases (MONGOO DB)</li>
            <li>Object-Relational Mapping (ORM) frameworks (eHibernate and JPA)</li>
            <li>Querying databases using Java</li>
        </ol>

        <ol class="list-decimal" type="1">
            <h1 class="text-xl font-bold">Deployment and DevOps</h1>
            <li> Application servers (Apache Tomcat, JBoss)</li>
            <li> Version control systems (Git)</li>
            <li> Build tools (Maven, Gradle)</li>
            <li>Continuous integration and deployment (CI/CD) concepts</li>
        </ol>
        <ol class="list-decimal" type="1">
            <h1 class="text-xl font-bold">Project Work</h1>

            <li>  Hands-on projects to apply knowledge and skills</li>
            <li>  Building a full-stack web application using Python and related technologies</li>
            <li>  Working with a team and following best practices</li>
        </ol>
    </div>
</body>
</html>