<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>pythoninfo</title>
    <link rel="stylesheet" href="static\css\first.css">
    <link rel="icon" href="static\best-it-academy-favicon-color (1).ico" type="image/x-icon">
</head>
<body>
    <div class="fixed">
        <div class="flex flex-row rounded-full w-48">
            <!--<div>
                <img src="\static\images\Picture2.png" class="h-16">
            </div>-->
            <ul class="flex flex-col text-xl">
                <b class="ml-2 text-2xl text-gradient">B E S T</b>
                <b class="">IT Academy</b>
            </ul>
        </div>
    </div>
    <h1 class="text-4xl font-bold text-center bg-rose-200 h-16"> Python Full-Stack</h1>
    <div class="flex justify-end">
        <a href="/" class="text-2xl mr-4">Back</a>
    </div>
    <div class="text-slate-600 p-6 rounded-lg mb-6 pl-36">      
        <h1 class="text-2xl font-bold mb-4">CIRCULAM</h1>
        <ol class="list-decimal" type="1">
            <h1 class="text-xl font-bold"> Python Fundamentals</h1>
            <li> Introduction to Python programming</li>
            <li>  Data types, variables, and operators</li>
            <li>  Control structures: loops and conditionals</li>
            <li> Functions and modules</li>
            <li> Object-oriented programming (OOP) concepts</li>
        </ol>

        <ol class="list-decimal" type="1">
            <h1 class="text-xl font-bold"> Web Development Basics</h1>
            <li> Introduction to web development</li>
            <li> HTTP protocol and client-server architecture</li>
            <li> HTML fundamentals and tags</li>
            <li>  Cascading Style Sheets (CSS) for styling web pages</li>
            <li>  JavaScript basics: variables, functions, DOM manipulation, and events</li>
        </ol>

        <ol class="list-decimal" type="1">
            <h1 class="text-xl font-bold"> Flask Framework</h1>
            
            <li>   Introduction to Flask framework</li>
            <li> Routing: handling URL paths and HTTP methods</li>
            <li>  Templates: rendering dynamic web pages</li>
            <li> Forms handling and validation</li>
            <li>Database integration with Flask-SQLAlchemy</li>
            <li>   User authentication and authorization</li>
        </ol>

        <ol class="list-decimal" type="1">

            <h1 class="text-xl font-bold"> Django Framework</h1>
            <li> Introduction to Django framework</li>
            <li>   Models: defining database schemas with Django ORM</li>
            <li> Views: handling requests and rendering responses</li>
            <li> URL configuration and routing</li>
            <li> Templates: building dynamic web pages</li>
            <li> Forms handling and validation</li>
        </ol>

        <ol class="list-decimal" type="1">
            <h1 class="text-xl font-bold">Front-End Development</h1>
            <li> Front-end technologies: HTML, CSS, and JavaScript</li>
            <li>  Front-end frameworks: React, Angular, or Node.js</li>
            <li>  Building interactive and responsive user interfaces</li>
            <li>  Handling data binding, components, and routing</li>
            <ul>  Database Integration</ul>
            <li>  Relational databases (SQL & MySQL)</li>
            <li>  NoSQL Database (MongoDB)</li>
            <li>   Object-Relational Mapping (ORM) libraries</li>
            <li>  Querying databases using Python</li>
            <li>  Database migrations and management</li>
        </ol>
        <ol class="list-decimal" type="1">
            <h1 class="text-xl font-bold">RESTful APIs</h1>
            <li>  Building RESTful APIs with Flask or Django REST Framework</li>
            <li>  API design principles and best practices</li>
            <li>  Consuming and integrating with external APIs</li>
        </ol>
        <ol class="list-decimal" type="1">
            <h1 class="text-xl font-bold">Deployment and DevOps</h1>
            <li> Containerization with Docker</li>
            <li>  Cloud deployment platforms (AWS, Azure)</li>
            <li>  Version control systems (Git)</li>
            <li> Continuous integration and deployment (CI/CD) concepts</li>
        </ol>
        <ol class="list-decimal" type="1">
            <h1 class="text-xl font-bold">Testing and Debugging</h1>
            <li>  Unit testing frameworks</li>
            <li>  Debugging and error handling techniques</li>
            <li>  Test-driven development (TDD) principles</li>
        </ol>
        <ol class="list-decimal" type="1">
            <h1 class="text-xl font-bold">Security and Authentication</h1>
            <li>  Authentication and authorization concepts</li>
            <li>  Secure coding practices</li>
            <li>  Handling common security threats in web applications</li>
        </ol>
        <ol class="list-decimal" type="1">  
            <h1 class="text-xl font-bold">Project Work</h1>
            <li>  Hands-on projects to apply knowledge and skills</li>
            <li>  Building a full-stack web application using Python and related technologies</li>
            <li>  Working with a team and following best practices</li>
        </ol> 
    </div>
</body>
</html>